# SQL 進階

## 郭耀仁

## 聚合函數（Aggregate Functions）

## `SUM()` 函數

- 回傳加總值：全世界總人口數為多少？

```sql
SELECT SUM(population)
  FROM world;
```

## `DISTINCT()` 函數

- 回傳相異值：全世界的洲別為何，顯示一次即可

```sql
SELECT DISTINCT(continent)
  FROM world;
```

## `COUNT()` 函數

- 計算有多少國家的土地面積超過 100 萬平方公里

```sql
SELECT COUNT(*)
  FROM world
  WHERE area > 1000000;
```

## GROUP BY 敘述

## COUNT() 函數加入 GROUP BY 敘述

- 計算各個 Continent 的國家數

```sql
SELECT continent,
       COUNT(*)
    FROM world
    GROUP BY continent;
```

## COUNT() 函數加入 GROUP BY 敘述

- 計算各個 Continent 人口超過 1 千萬的國家數

```sql
SELECT continent,
       COUNT(*)
    FROM world
    WHERE population >= 10000000
    GROUP BY continent;
```

## `SUM()` 函數加入 `GROUP BY` 敘述

- 計算各個 continent 的人口總數

```sql
SELECT continent
       ,SUM(population)
  FROM world
  GROUP BY continent;
```

## HAVING 敘述

## `HAVING`

- 針對聚合函數下條件
- 找出總人口數超過 1 億的洲（Continent）

```sql
/*錯誤*/
SELECT Continent
  FROM world
  GROUP BY Continent
  WHERE SUM(Population) > 100000000;
```

## `HAVING`（2）

- 針對聚合函數下條件
- 找出總人口數超過 1 億的洲（Continent）

```sql
/*正確*/
SELECT continent
  FROM world
  GROUP BY continent
  HAVING SUM(population) > 100000000;
```

## ORDER BY

## `ORDER BY` 描述

- 可以選擇依照某一個欄位排序查詢結果
- 遞增排序：ASC
- 遞減排序：DESC
- 找出人口數排名前 10 的國家

```sql
SELECT name,
       population
  FROM world
  ORDER BY population DESC
  LIMIT 10;
```

## `ORDER BY` 描述（2）

- 找出歐洲土地面積最小的 10 個國家

```sql
SELECT name,
       area
  FROM world
  WHERE continent = 'Europe'
  ORDER BY area ASC
  LIMIT 10;
```

## 完成 8 個 SQLZOO 練習

https://sqlzoo.net/wiki/SUM_and_COUNT

## JOIN 描述

## `JOIN` 描述

- 也許是關聯式資料庫最重要的技巧！
- 聯結的種類：
    - Inner Join（內部聯結）
    - Left Join（左外部聯結）
    - Right Join（右外部聯結）
    - Full Join（全外部聯結）（MySQL 不支援）

## 什麼是資料庫的 Schema

![](img/schema.png)

## 重要的 Schema 元素

- PK(Primary Key)：一個表格用來標註獨立觀測值的欄位
- FK(Foreign Key)：用來與其他表格連結的欄位

## 看看不同表格

- `game` 表格

![](img/game.png)

## 看看不同表格

- `goal` 表格

![](img/goal.png)

## 看看不同表格

- `eteam` 表格

![](img/eteam.png)

## 暸解一下表格內容

查詢德國隊進球的 `matchid` 與 `player`

```sql
SELECT matchid,
       player
    FROM goal
    WHERE teamid = 'GER';
```

## 暸解一下表格內容

姓氏為 Bender 的球員進球資料

```sql
SELECT *
    FROM goal 
    WHERE player LIKE '%Bender';
```

## 暸解一下表格內容

查詢 `matchid=1012` 這場比賽的資訊 

```sql
SELECT *
  FROM game
  WHERE id='1012';
```

## 開始使用 JOIN 描述（內部聯結）

- 查詢德國隊進球的 `player`, `teamid`, `stadium`, `mdate` 資訊
- 由於變數來自兩個表格，養成指定表格名稱的**良好習慣**

```sql
SELECT goal.player,
       goal.teamid,
       game.stadium,
       game.mdate
    FROM game
    JOIN goal 
    ON (game.id=goal.matchid)
    WHERE goal.teamid = 'GER';
```

## 開始使用 JOIN 描述（內部聯結）

- 查詢在開賽前 10 分鐘就進球的資訊：`player`, `teamid`, `coach`, `gtime`

```sql
SELECT goal.player,
       goal.teamid,
       eteam.coach,
       goal.gtime
    FROM goal
    JOIN eteam
    ON goal.teamid=eteam.id
    WHERE gtime<=10;
```

## 開始使用 JOIN 描述（內部聯結）

- 查詢 `team1` 教練是 `Fernando Santos` 的比賽日期 `mdate` 與隊伍名稱 `teamname`

```sql
SELECT game.mdate,
       eteam.teamname
    FROM game
    JOIN eteam
    ON game.team1=eteam.id
    WHERE eteam.coach='Fernando Santos';
```

## 開始使用 JOIN 描述（內部聯結）

- 查詢有在 'National Stadium, Warsaw' 進球的球員

```sql
SELECT goal.player
    FROM game
    JOIN goal
    ON game.id=goal.matchid
    WHERE stadium='National Stadium, Warsaw'
```

## 完成 7 個 SQLZOO 練習（1~7）

https://sqlzoo.net/wiki/The_JOIN_operation

## 更多 JOIN

## Schema

![](img/schema_join.png)

## 暸解表格

Citizen Kane 何時上映

```sql
SELECT yr
    FROM movie
    WHERE title='Citizen Kane';
```

## 暸解表格

Star Trek 系列

```sql
SELECT id,
       title,
       yr
    FROM movie
    WHERE title LIKE '%Star Trek%';
```

## 暸解表格

Glenn Close 的 id 為何

```sql
SELECT id
    FROM actor
    WHERE name='Glenn Close';
```

## 暸解表格

電影 Casablanca 的 id 為何

```sql
SELECT id
    FROM movie
    WHERE title='Casablanca';
```

## 聯結表格

取得電影 Casablanca 的演員名單

```sql
SELECT name
    FROM actor
    JOIN casting
    ON actor.id = casting.actorid
    JOIN movie
    ON casting.movieid=movie.id
    WHERE movie.title='Casablanca';
```

## 聯結表格

取得電影 Alien 的演員名單

```sql
SELECT actor.name
    FROM actor
    JOIN casting
    ON actor.id = casting.actorid
    JOIN movie
    ON casting.movieid=movie.id
    WHERE movie.title='Alien';
```

## 聯結表格

尋找 Harrison Ford 有出演的電影

```sql
SELECT movie.title
    FROM movie
    JOIN casting
    ON movie.id = casting.movieid
    JOIN actor
    ON casting.actorid=actor.id
    WHERE actor.name='Harrison Ford';
```

## 聯結表格

尋找 Harrison Ford 不是主角的電影（`casting.ord<>1`）

```sql
SELECT movie.title
    FROM movie
    JOIN casting
    ON movie.id = casting.movieid
    JOIN actor
    ON casting.actorid=actor.id
    WHERE actor.name='Harrison Ford' AND
          casting.ord<>1;
```

## 聯結表格

查詢 1962 年所有電影的主角（`ord=1`）

```sql
SELECT movie.title,
       actor.name
    FROM movie
    JOIN casting
    ON movie.id = casting.movieid
    JOIN actor
    ON casting.actorid=actor.id
    WHERE movie.yr=1962 AND
          casting.ord=1;
```

## 完成 10 個 SQLZOO 練習（1~10）

https://sqlzoo.net/wiki/More_JOIN_operations

## 左外部聯結

- 留下所有左表格（台灣、日本）的資料

```sql
/*左表格*/
SELECT * FROM world.country
    WHERE Name IN ('Taiwan', 'Japan');

/*右表格*/
SELECT * FROM world.city
    WHERE CountryCode IN ('TWN', 'KOR');
```

## 左外部聯結（2）

- 留下所有左表格（台灣、日本）的資料

```sql
/*左外部聯結*/
SELECT left_tbl.*
      ,right_tbl.*
    FROM (
        SELECT *
        FROM world.country
        WHERE Code IN ('TWN', 'JPN')
    ) left_tbl
    LEFT JOIN (
        SELECT * FROM world.city
        WHERE CountryCode IN ('TWN', 'KOR')
    ) right_tbl
    ON left_tbl.Code = right_tbl.CountryCode;
```

## 右外部聯結

- 留下所有右表格（台灣、南韓）的資料

```sql
/*左表格*/
SELECT * FROM world.country
    WHERE Name IN ('Taiwan', 'Japan');

/*右表格*/
SELECT * FROM world.city
    WHERE CountryCode IN ('TWN', 'KOR');
```

## 右外部聯結（2）

- 留下所有右表格（台灣、南韓）的資料

```sql
/*右外部聯結*/
SELECT left_tbl.*
      ,right_tbl.*
    FROM (
        SELECT *
        FROM world.country
        WHERE Code IN ('TWN', 'JPN')
    ) left_tbl
    RIGHT JOIN (
        SELECT * FROM world.city
        WHERE CountryCode IN ('TWN', 'KOR')
    ) right_tbl
    ON left_tbl.Code = right_tbl.CountryCode;
```

## `UNION` 描述

- `JOIN` 是屬於水平合併
- `UNION` 是屬於垂直合併

```sql
SELECT Name
    FROM world.country
    WHERE Code = 'TWN'
UNION
SELECT Name
    FROM world.city
    WHERE CountryCode = 'TWN';
```